@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto";
}

body {
  background-color: theme("colors.background");
  color: white;
}

input,
textarea {
  @apply w-full rounded-md border border-border bg-surface px-3 py-2 text-text outline-none transition-colors duration-200 disabled:cursor-not-allowed disabled:opacity-50;

  &:focus {
    @apply border-primary;
  }
}
